@{
    ViewData["Title"] = "Home Page";
}



    <div class="text-center container">
        <h1 class="display-4">Welcome To AR Shop</h1>
@*        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@
    </div>

<form method="post" asp-controller="Admin" asp-action="AssignAdminRole">
    <H2>ONLY FOR ADMIN ACCOUNTS</H2>
    <input type="text" name="userId" placeholder="Enter User ID" />
    <button type="submit">Assign Admin Role</button>
</form>




