@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>1. Introduction</h2>
<p>Welcome to AR shop. At AR_SHOPS, we respect and protect the privacy of our users. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website [URL] and our services. By accessing or using our website and services, you consent to the practices described in this Privacy Policy.</p>

<h2>2. Information We Collect</h2>
<p>We may collect personal information that you voluntarily provide to us when you:</p>
<ul>
    <li style="color:white">Register for an account</li>
    <li style ="color:white">Place an order or make a purchase</li>
    <li style="color:white">Contact us via email or other communication channels</li>
    <li style="color:white">Participate in surveys or promotions</li>
    <li style="color:white">Subscribe to our newsletters or marketing communications</li>
        <li style="color:white">Interact with our website and services</li>
</ul>
 <h2>10. Contact Us</h2>
    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or your personal information, please contact us at [contact email or address].</p>

    <p>By using our website and services, you signify your acceptance of this Privacy Policy. If you do not agree with this Policy, please do not use our website or provide us with your personal information.</p>